<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultCompletionName</key>
	<string>NavigationService</string>
	<key>Description</key>
	<string>This generates Navigation Service.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the class</string>
			<key>Identifier</key>
			<string>sceneName</string>
			<key>Name</key>
			<string>Class name:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>NavigationService</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>ModelController</string>
			<key>Description</key>
			<string>The type of the view model</string>
			<key>Identifier</key>
			<string>viewModelType</string>
			<key>Name</key>
			<string>Third Class Type:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>popup</string>
			<key>Values</key>
			<array>
				<string>ModelController</string>
				<string>ViewModel</string>
			</array>
		</dict>
		<dict>
			<key>Default</key>
			<true/>
			<key>Description</key>
			<string>Determines if the networking is included.</string>
			<key>Identifier</key>
			<string>Networking</string>
			<key>Name</key>
			<string>Include Networking</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>checkbox</string>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>SortOrder</key>
	<string>3</string>
	<key>Summary</key>
	<string>This generates NavigationService.</string>
</dict>
</plist>
